<div class="box">
	<div class="box-header">
		<h3 class="box-title">Data Table With Full Features</h3>
	</div>
	<!-- /.box-header -->
	<div class="box-body">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Title</th>
					<th>Customer Name</th>
					<th>Customer Email</th>
					<th>Status</th>
					<th>Submitted</th>
					<th>Closed Time</th>
					<th>Employee</th>
				</tr>
			</thead>
		  	<tbody>
				<tr ng-repeat="issue in issues">
					<th>{{issue.issueId}}</th>
					<th>{{issue.title}}</th>
					<th>{{issue.customerName}}</th>
					<th>{{issue.customerEmail}}</th>
					<th>{{issue.status}}</th>
					<th>{{issue.submissionTimestamp|date:'yyyy-MM-dd HH:mm'}}</th>
						<th ng-if="issue.closedTimestamp">{{issue.closedTimestamp|date:'yyyy-MM-dd HH:mm'}}</th>
						<th ng-if="!issue.closedTimestamp">No</th>
					<th>{{issue.employeeName}}</th>
				</tr>
		  	</tbody>
		  	<tfoot>
				<tr>
					<th>Id</th>
					<th>Title</th>
					<th>Customer Name</th>
					<th>Customer Email</th>
					<th>Status</th>
					<th>Submitted</th>
					<th>Closed Time</th>
					<th>Employee</th>
				</tr>
		  	</tfoot>
		</table>
	</div>
	<!-- /.box-body -->
</div>
