<div class="box">
	<div class="box-header">
		<h3 class="box-title">Data Table With Full Features</h3>
	</div>
	<!-- /.box-header -->
	<div class="box-body">
		<div class="row">
			<div class="col-sm-6">
				<div class="dataTables_length">
					<label>Show
						<select class="form-control input-sm"
								ng-options="item for item in [10,25,50,100]"
								ng-model="displayNumber"></select>
						entries
					</label>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="dataTables_filter">
					<label>Search:<input type="search" class="form-control input-sm" placeholder="Filter" ng-model="filterText"></label>
				</div>
			</div>
			<div class="col-sm-12 visible-xs">
				<div class="dataTables_filter">
					<label>Sort by:
						<select class="form-control input-sm" ng-model="sortingField">
							<option value="issueId">Issue Id</option>
							<option value="title">Title</option>
							<option value="customerName">Customer</option>
							<option value="customerEmail">Email</option>
							<option value="status">Status</option>
							<option value="submissionTimestamp">Opened</option>
							<option value="closedTimestamp">Closed</option>
							<option value="employeeId">Staff</option>
						</select>
					</label>
					<div class="btn-group">
						<button type="button" class="btn btn-sm" ng-class="sortingDirection=='asc'?'btn-info':'btn-default'" ng-click="sortingDirection='asc'">ASC</button>
						<button type="button" class="btn btn-sm" ng-class="sortingDirection!='asc'?'btn-info':'btn-default'" ng-click="sortingDirection='desc'">DESC</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<table class="table dataTable table-bordered table-striped rwd-table">
					<thead>
						<tr>
							<th dt-sorting="issueId" sort-field="sortingField" sort-direction="sortingDirection">Id</th>
							<th dt-sorting="title" sort-field="sortingField" sort-direction="sortingDirection">Title</th>
							<th dt-sorting="customerName" sort-field="sortingField" sort-direction="sortingDirection">Customer</th>
							<th dt-sorting="customerEmail" sort-field="sortingField" sort-direction="sortingDirection">Email</th>
							<th dt-sorting="status" sort-field="sortingField" sort-direction="sortingDirection">Status</th>
							<th dt-sorting="submissionTimestamp" sort-field="sortingField" sort-direction="sortingDirection">Opened</th>
							<th dt-sorting="closedTimestamp" sort-field="sortingField" sort-direction="sortingDirection">Closed</th>
							<th dt-sorting="employeeId" sort-field="sortingField" sort-direction="sortingDirection">Staff</th>
						</tr>
					</thead>
				  	<tbody>
						<tr ng-repeat="issue in displayIssues" class="issue-status-{{issue.status}}">
							<td data-th="Issue Id">{{issue.issueId}}</td>
							<td data-th="Title">{{issue.title}}</td>
							<td data-th="Customer">{{issue.customerName}}</span>
							<td data-th="Email">{{issue.customerEmail}}</td>
							<td data-th="Statis">{{issue.status}}</td>
							<td data-th="Opened">{{issue.submissionTimestamp*1000|date:'yyyy-MM-dd HH:mm'}}</td>
								<td data-th="Closed" ng-if="issue.closedTimestamp">{{issue.closedTimestamp*1000|date:'yyyy-MM-dd HH:mm'}}</td>
								<td data-th="Closed" ng-if="!issue.closedTimestamp">No</td>
							<td data-th="Employee">{{issue.employeeName}}</td>
						</tr>
				  	</tbody>
				  	<tfoot class="hidden-xs">
						<tr>
							<th>Id</th>
							<th>Title</th>
							<th>Customer</th>
							<th>Status</th>
							<th>Opened</th>
							<th>Closed</th>
							<th>Staff</th>
						</tr>
				  	</tfoot>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5">
				<div class="dataTables_info">Showing {{displayStart+1}} to {{displayEnd}} of {{filteredTotal}} entries</div>
			</div>
			<div class="col-sm-7">
				<div class="dataTables_paginate paging_simple_numbers">
					<ul class="pagination">
						<li class="paginate_button previous" ng-class="{'disabled': displayPage < 2}">
							<a ng-click="setPage(displayPage-1)">Previous</a>
						</li>
						<li class="paginate_button"
							ng-repeat="page in displayPagerPages"
							ng-class="{'active' : page==displayPage}">
							<a ng-click="setPage(page)">{{page}}</a>
						</li>

						<li class="paginate_button next" ng-class="{'disabled': displayPageCount <= displayPage}"><a ng-click="setPage(displayPage+1)">Next</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- /.box-body -->
</div>
